log:
  level: debug
  format: json

serve:
  proxy:
    port: 4455
    cors:
      enabled: true
      allowed_origins:
        - "*"
      allowed_methods:
        - POST
        - GET
        - PUT
        - PATCH
        - DELETE
      allowed_headers:
        - Authorization
        - Content-Type
      exposed_headers:
        - Content-Type
      allow_credentials: true
      debug: true
  api:
    port: 4456

errors:
  fallback:
    - json
  handlers:
    # redirect:
    #   enabled: true
    #   config:
    #     to: http://ory.test.info/panel/welcome
    #     when:
    #       -
    #         error:
    #           - unauthorized
    #           - forbidden
    #         request:
    #           header:
    #             accept:
    #               - text/html
    json:
      enabled: true
      config:
        verbose: true

access_rules:
  matching_strategy: glob
  repositories:
    - file:///etc/oathkeeper/rules/access-rules.yaml

authenticators:
  cookie_session:
    enabled: true
    config:
      check_session_url: https://kratos.ugu.lat/sessions/whoami
      preserve_path: true
      extra_from: "@this"
      subject_from: "identity.id"
      only:
        - ory_kratos_session
  bearer_token:
    enabled: true
    config:
      check_session_url: https://kratos.ugu.lat/sessions/whoami
      token_from:
        header: authorization
  noop:
    enabled: true
  anonymous:
    enabled: true
    config:
      subject: anonymous # =default
  unauthorized:
    enabled: true

authorizers:
  allow:
    enabled: true
  # remote_json:
  #   enabled: true
  #   config:
  #     remote: http://keto-api:4456/check
  #     # https://github.com/ory/oathkeeper/issues/797
  #     forward_response_headers_to_upstream: []
  #     payload: |
  #       {
  #         "subject": "{{ print .Subject }}",
  #         "resource": "{{ printIndex .MatchContext.RegexpCaptureGroups 0 }}"
  #       }

mutators:
  header:
    enabled: true
    config:
      headers:
        X-User-Id: "{{ .Subject }}"
  noop:
    enabled: true
  # id_token:
  #   enabled: true
  #   config:
  #     issuer_url: http://ory.test.info/panel/
  #     jwks_url: file:///etc/config/oathkeeper/id_token.jwks.json
  #     claims: |
  #       {
  #         "session": {{ .Extra | toJson }}
  #       }
