apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: oathkeeper
spec:
  chart:
    spec:
      chart: oathkeeper
      version: 0.52.0
      sourceRef:
        kind: HelmRepository
        name: ory
        namespace: ory
  values:
    maester:
      enabled: true
    deployment:
      extraVolumes:
        # - name: oath-config-volume
        #   configMap:
        #     name: oath-config
        #     items:
        #     - key: config.yaml
        #       path: config.yaml
        - name: oath-rules-volume
          configMap:
            name: oathkeeper-rules
            items:
              - key: access-rules.json
                path: access-rules.json
      extraVolumeMounts:
        # - name: oath-config-volume
        #   mountPath: /etc/oathkeeper/config
        - name: oath-rules-volume
          mountPath: /etc/oathkeeper/rules
      # extraArgs:
      #   - --config
      #   - /etc/oathkeeper/config/config.yaml
    oathkeeper:
      config:
        log:
          level: debug
          format: json
        serve:
          proxy:
            port: 4455
            cors:
              enabled: true
              allowed_origins:
                - "*"
              allowed_methods:
                - POST
                - GET
                - PUT
                - PATCH
                - DELETE
              allowed_headers:
                - Authorization
                - Content-Type
                - Origin
              exposed_headers:
                - Content-Type
              allow_credentials: true
              debug: true
          api:
            port: 4456

        errors:
          fallback:
            - json
          handlers:
            # redirect:
            #   enabled: true
            #   config:
            #     to: http://ory.test.info/panel/welcome
            #     when:
            #       -
            #         error:
            #           - unauthorized
            #           - forbidden
            #         request:
            #           header:
            #             accept:
            #               - text/html
            json:
              enabled: true
              config:
                verbose: true

        access_rules:
          matching_strategy: glob
          repositories:
            - file:///etc/oathkeeper/rules/access-rules.json

        authenticators:
          cookie_session:
            enabled: true
            config:
              check_session_url: https://kratos.ugu.lat/sessions/whoami
              preserve_path: true
              extra_from: "@this"
              subject_from: "identity.id"
              only:
                - ory_kratos_session
          bearer_token:
            enabled: true
            config:
              check_session_url: https://kratos.ugu.lat/sessions/whoami
              token_from:
                header: authorization
          noop:
            enabled: true
          anonymous:
            enabled: true
            config:
              subject: anonymous # =default
          unauthorized:
            enabled: true

        authorizers:
          allow:
            enabled: true
          # remote_json:
          #   enabled: true
          #   config:
          #     remote: http://keto-api:4456/check
          #     # https://github.com/ory/oathkeeper/issues/797
          #     forward_response_headers_to_upstream: []
          #     payload: |
          #       {
          #         "subject": "{{ print .Subject }}",
          #         "resource": "{{ printIndex .MatchContext.RegexpCaptureGroups 0 }}"
          #       }

        mutators:
          header:
            enabled: true
            config:
              headers:
                X-User-Id: "{{ print .Subject }}"
          noop:
            enabled: true
          # id_token:
          #   enabled: true
          #   config:
          #     issuer_url: http://ory.test.info/panel/
          #     jwks_url: file:///etc/config/oathkeeper/id_token.jwks.json
          #     claims: |
          #       {
          #         "session": {{ .Extra | toJson }}
          #       }
    # accessRules: file:///etc/oathkeeper/rules/access-rules.json
    ingress:
      proxy:
        enabled: true
        className: "internal"
        hosts:
          - host: &host "oathkeeper.x3y.space"
            paths:
              - path: /
                pathType: Prefix
            tls:
              hosts:
                - *host
      api:
        enabled: true
        className: "internal"
        hosts:
          - host: &hostapi "oathkeeperapi.x3y.space"
            paths:
              - path: /
                pathType: Prefix
            tls:
              hosts:
                - *hostapi
