---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  chartRef:
    kind: OCIRepository
    name: rook-ceph-cluster
  interval: 2h
  values:
    monitoring:
      enabled: true
      createPrometheusRules: true
    toolbox:
      enabled: true
    route:
      dashboard:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Ceph
          gethomepage.dev/description: Storage Dashboard
          gethomepage.dev/group: Storage
          gethomepage.dev/icon: ceph.png
        hostnames:
          - ceph.${DOMAIN1}
        path: /
        pathType: PathPrefix
        parentRefs:
          - name: envoy-internal
            namespace: network
    cephClusterSpec:
      cephConfig:
        global:
          bdev_enable_discard: "true" # quote
          bdev_async_discard_threads: "1" # quote
          osd_class_update_on_start: "false" # quote
          device_failure_prediction_mode: local # requires mgr module
      cleanupPolicy:
        wipeDevicesFromOtherClusters: true
      crashCollector:
        disable: false
      csi:
        readAffinity:
          enabled: true
      dashboard:
        enabled: true
        urlPrefix: /
        ssl: false
        prometheusEndpoint: http://prometheus-operated.observability.svc.cluster.local:9090
      mon:
        count: 1
        allowMultiplePerNode: true
      mgr:
        modules:
          - name: diskprediction_local
            enabled: true
          - name: insights
            enabled: true
          - name: pg_autoscaler
            enabled: true
          - name: rook
            enabled: true
      network:
        provider: host
        addressRanges:
          public:
            - 10.0.0.0/24
          cluster:
            - 10.0.0.0/24
        connections:
          requireMsgr2: true
      resources:
        osd:
          requests:
            memory: 2Gi
          limits:
            memory: 4Gi
      storage:
        useAllNodes: true
        useAllDevices: false
        devicePathFilter: "^/dev/disk/by-id/ata-WDC_WDS240G2G0A-00JH30_19226D800608"
        config:
          osdsPerDevice: "1"
      disruptionManagement:
        managePodBudgets: false
    cephBlockPools:
      - name: ceph-blockpool
        spec:
          failureDomain: host
          replicated:
            size: 1
        storageClass:
          enabled: true
          name: ceph-block
          isDefault: true
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          volumeBindingMode: Immediate
          mountOptions:
            - discard
          parameters:
            compression_mode: aggressive
            compression_algorithm: zstd
            imageFormat: "2"
            imageFeatures: layering,fast-diff,object-map,deep-flatten,exclusive-lock
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/fstype: ext4
    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-blockpool
      isDefault: false
      deletionPolicy: Delete
    cephFileSystems:
      - name: &cephFileSystemName ceph-filesystem
        spec:
          metadataPool:
            replicated:
              size: 1
          dataPools:
            - failureDomain: host
              replicated:
                size: 1
              name: data0
          metadataServer:
            activeCount: 1
            activeStandby: true
            priorityClassName: system-cluster-critical
            placement:
              topologySpreadConstraints:
                - maxSkew: 1
                  topologyKey: kubernetes.io/hostname
                  whenUnsatisfiable: DoNotSchedule
                  labelSelector:
                    matchLabels:
                      app.kubernetes.io/name: ceph-mds
                      app.kubernetes.io/part-of: *cephFileSystemName
            resources:
              requests:
                cpu: 100m
                memory: 120Mi
              limits:
                memory: 200Mi
        storageClass:
          enabled: true
          isDefault: false
          name: ceph-filesystem
          pool: data0
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          volumeBindingMode: Immediate
          parameters:
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-cephfs-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/fstype: ext4
    cephFileSystemVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-filesystem
      isDefault: false
      deletionPolicy: Delete
    cephObjectStores:
    - name: ceph-objectstore
      spec:
        metadataPool:
          failureDomain: host
          replicated:
            size: 1
        dataPool:
          replicated:
            size: 1
          failureDomain: host
          # erasureCoded:
          #   dataChunks: 2
          #   codingChunks: 1
        preservePoolsOnDelete: true
        gateway:
          hostNetwork: false
          port: 80
          resources:
            requests:
              cpu: 50m
              memory: 500Mi
            limits:
              memory: 2Gi
          instances: 1
          priorityClassName: system-cluster-critical
        healthCheck:
          bucket:
            interval: 60s
      storageClass:
        enabled: true
        name: ceph-bucket
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
        parameters:
          region: us-east-1
      route:
        # Enable an ingress for the ceph-objectstore
        enabled: true
        # The ingress port by default will be the object store's "securePort" (if set), or the gateway "port".
        # To override those defaults, set this ingress port to the desired port.
        port: 80
        annotations: {}
        host:
          name: objectstore.${DOMAIN1}
          path: /
          pathType: PathPrefix
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
      # ingress:
      #   enabled: true
      #   annotations:
      #     nginx.ingress.kubernetes.io/proxy-body-size: "0"
      #     nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
      #   ingressClassName: ${INGRESS1}
      #   host:
      #     name: &host rgw.${DNS_MAIN}
      #     path: /
      #   tls:
      #     - hosts:
      #         - *host