---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: opentelemetry-operator
spec:
  chart:
    spec:
      chart: opentelemetry-operator
      version: 0.49.0
      sourceRef:
        kind: HelmRepository
        name: opentelemetry-charts
        namespace: observability
  interval: 1h
  values:
    manager:
      collectorImage:
        repository: otel/opentelemetry-collector-contrib
        tag: 0.94.0
