---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: vaultwarden-oidc
spec:
  targetNamespace: home-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: vaultwarden-oidc
  dependsOn:
    - name: vault
      namespace: vault
  path: ./kubernetes/apps/home-system/vaultwarden/oidc
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  wait: true
  interval: 30m
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app vaultwarden
spec:
  targetNamespace: home-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: vault
      namespace: vault
    - name: vaultwarden-oidc
  path: ./kubernetes/apps/home-system/vaultwarden/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  wait: false
  interval: 30m
  postBuild:
    substituteFrom:
      - kind: Secret
        name: vaultwarden-oidc-creds
