---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app zealot
spec:
  components:
    - ../../../../components/volsync
  targetNamespace: home-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: vault
      namespace: vault
  path: ./kubernetes/apps/home-system/zealot/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  wait: true
  interval: 30m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi