---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: blocky
spec:
  components:
    - ../../../../components/volsync
  postBuild:
    substitute:
      APP: blocky
      VOLSYNC_CAPACITY: 1Gi
  targetNamespace: home-system
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  path: ./kubernetes/apps/home-system/blocky/app
