---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kratos
  namespace: ory
spec:
  chart:
    spec:
      chart: kratos
      version: 0.50.7
      sourceRef:
        kind: HelmRepository
        name: ory
        namespace: ory
  values:
    deployment:
      extraVolumes:
        - name: identityschemas-volume
          configMap:
            name: identityschemas-config
            items:
              - key: schema.json
                path: identity.schema.json
      extraVolumeMounts:
        - name: identityschemas-volume
          mountPath: /data/
    kratos:
      automigration:
        enabled: true
      config:
        log:
          leak_sensitive_values: true
        # dev: true
        oauth2_provider:
          url: http://hydra-admin.ory:4445
        serve:
          public:
            base_url: https://kratos.x3y.space
        cookies:
          same_site: None
          domain: x3y.space
        session:
          cookie:
            same_site: None
            domain: x3y.space
          # same_site_legacy_workaround: true
        courier:
          smtp:
            connection_uri: smtps://auth:mail@smtp-relay.mail.svc.cluster.local:2525/?skip_ssl_verify=true
        selfservice:
          default_browser_return_url: https://uikratos.x3y.space
          allowed_return_urls:
            - http://localhost:3000
          methods:
            password:
              enabled: true
            link:
              enabled: true
            oidc:
              enabled: true
              config:
                providers:
                  - id: google
                    provider: google
                    client_id: ...
                    client_secret: ...
                    mapper_url: "base64://bG9jYWwgY2xhaW1zID0gewogIGVtYWlsX3ZlcmlmaWVkOiB0cnVlLAp9ICsgc3RkLmV4dFZhcignY2xhaW1zJyk7Cgp7CiAgaWRlbnRpdHk6IHsKICAgIHRyYWl0czogewogICAgICBbaWYgJ2VtYWlsJyBpbiBjbGFpbXMgJiYgY2xhaW1zLmVtYWlsX3ZlcmlmaWVkIHRoZW4gJ2VtYWlsJyBlbHNlIG51bGxdOiBjbGFpbXMuZW1haWwsCiAgICB9LAogIH0sCn0K"
                    scope:
                      - email
                      - profile
                    requested_claims:
                      id_token:
                        email:
                          essential: true
                        email_verified:
                          essential: true
          flows:
            login:
              ui_url: https://uikratos.x3y.space/login
            registration:
              ui_url: https://uikratos.x3y.space/registration
              after:
                oidc:
                  hooks:
                    - hook: session
            verification:
              enabled: true
              ui_url: https://uikratos.x3y.space/verification
            settings:
              ui_url: https://uikratos.x3y.space/settings
            error:
              ui_url: https://uikratos.x3y.space/error
        dsn: vault:secret/data/ory#DB_URI_KRATOS
        secrets:
          default:
            - dolore occaecat nostrud Ut
            - sit et commodoaute ut voluptate consectetur Duis
        identity:
          default_schema_id: default
          schemas:
            - id: default
              url: file:///data/identity.schema.json
    ingress:
      public:
        enabled: true
        className: "internal"
        hosts:
          - host: &public "kratos.x3y.space"
            paths:
              - path: /
                pathType: ImplementationSpecific
        tls:
          - hosts:
              - *public
      admin:
        enabled: true
        className: "internal"
        hosts:
          - host: &admin "kratosadmin.x3y.space"
            paths:
              - path: /
                pathType: ImplementationSpecific
        tls:
          - hosts:
              - *admin
