---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kratos-selfservice-ui-node
  namespace: ory
spec:
  chart:
    spec:
      chart: kratos-selfservice-ui-node
      version: 0.38.0
      sourceRef:
        kind: HelmRepository
        name: ory
        namespace: ory
  values:

    deployment:
      extraEnv:
        - name: COOKIE_SECRET
          value: asdasd123
        - name: CSRF_COOKIE_NAME
          value: "__HOST-${DNS_MAIN}-x-csrf-token"
        - name: CSRF_COOKIE_SECRET
          value: asdasd123
        - name: HYDRA_ADMIN_URL
          value: "https://hydraadmin.${DNS_MAIN}"
    kratosAdminUrl: "http://kratos-admin.ory"

    # -- Set this to ORY Kratos's public URL
    kratosPublicUrl: "http://kratos-public.ory"

    # -- Set this to ORY Kratos's public URL accessible from the outside world.
    kratosBrowserUrl: "https://kratos.${DNS_MAIN}"

    ingress:
      enabled: true
      className: "internal"
      hosts:
        - host: &host "uikratos.${DNS_MAIN}"
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - *host