apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault-operator
  namespace: vault
spec:
  chart:
    spec:
      chart: vault-operator
      version: 1.22.1
      sourceRef:
        name: bank-vaults
        kind: HelmRepository
        namespace: vault
  values:
    envsConfig:
      - name: OIDC_CLIENT_ID
        valueFrom:
          secretKeyRef:
              name: vault-oidc-client-creds
              key: vault_client_id
      - name: OIDC_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
              name: vault-oidc-client-creds
              key: vault_client_secret
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault-secrets-webhook
  namespace: vault
spec:
  chart:
    spec:
      chart: vault-secrets-webhook
      version: 1.21.1
      sourceRef:
        name: bank-vaults
        kind: HelmRepository
        namespace: vault
  values:
    env:
      VAULT_ADDR: "http://vault.vault.svc.cluster.local:8200"
    customResourceMutations: ["helmreleases","pods","clusterissuers"]
    configMapMutation: true
    replicaCount: 1