---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app tofu-controller
  namespace: &namespace flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn: []
  path: ./kubernetes/apps/flux-system/tofu-controller/app
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: *namespace
  targetNamespace: *namespace
