---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: open-webui
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      open-webui:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: main
            env:
              WEBUI_AUTH: "False"
              PORT: &port "8080"
              OPENAI_API_BASE_URL: "http://litellm.dev-system.svc.cluster.local:4000"
              OPENAI_API_KEY: "vault:secret/data/ai#LITELLM_MASTER_KEY"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 1Gi
    service:
      app:
        controller: open-webui
        ports:
          http:
            port: *port
    route:
      app:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: network
        hostnames:
          - "open-webui.${DOMAIN1}"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Ollama UI
          gethomepage.dev/description: Open WebUI for Ollama
          gethomepage.dev/group: Development
        rules:
          - backendRefs:
              - port: *port
                name: open-webui
    persistence:
      data:
        type: emptyDir
        globalMounts:
          - path: /app/backend/data
