---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: syncthing
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      syncthing:
        containers:
          app:
            image:
              repository: syncthing/syncthing
              tag: 2.0.12@sha256:7ae77d066e9b81d3d8c312b2f9e1a874a5115680bfde90aff5fc9aece694ec93
            resources:
              requests:
                cpu: 15m
                memory: 100M
              limits:
                cpu: 100m
                memory: 200M

    service:
      app:
        controller: syncthing
        ports:
          http:
            port: &port 8384

      listen:
        controller: syncthing
        type: LoadBalancer
        loadBalancerIP: 10.0.0.141
        externalTrafficPolicy: Local
        annotations:
          lbipam.cilium.io/sharing-key: syncthing
        ports:
          listen:
            enabled: true
            port: 22000
            protocol: TCP
            targetPort: 22000

      discovery:
        controller: syncthing
        type: LoadBalancer
        loadBalancerIP: 10.0.0.140
        externalTrafficPolicy: Local
        annotations:
          ilbipam.cilium.io/sharing-key: syncthing
        ports:
          discovery:
            enabled: true
            port: 21027
            protocol: UDP
            targetPort: 21027
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 404"]
        hostnames:
          - "{{ .Release.Name }}.x3y.space"
        parentRefs:
          - name: internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        enabled: true
        size: 5Gi
        storageClass: local-path
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /data
      # data:
      #   enabled: true
      #   type: ${PERSISTENCE_TYPE}
      #   # path: "${PATH_NAS_MEDIA}"
      #   hostPath: "${PATH_NAS_MEDIA}/syncthing"
      #   globalMounts:
      #     - path: "/data"

      config:
        enabled: true
        # type: persistentVolumeClaim
        size: 1Gi
        storageClass: local-path
        accessMode: ReadWriteOnce
        globalMounts:
          - path: "/var/syncthing"
