---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
---
apiVersion: v1
kind: Secret
metadata:
  name: "${APP}-volsync-secret"
type: Opaque
stringData:
  KOPIA_FS_PATH: /repository
  KOPIA_PASSWORD: "vault:secret/data/volsync#RESTIC_PASSWORD"
  RESTIC_REPOSITORY: filesystem:///repository