---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
---
apiVersion: v1
kind: Secret
metadata:
  name: "${APP}-volsync-secret"
type: Opaque
stringData:
  KOPIA_FS_PATH: /repository
  KOPIA_PASSWORD: "vault:secret/data/volsync#RESTIC_PASSWORD"
  # RESTIC_REPOSITORY: filesystem:///repository
  # KOPIA_REPOSITORY: filesystem:///repository

  KOPIA_REPOSITORY: s3:http://rook-ceph-rgw-ceph-objectstore.rook-ceph.svc:80/test
  KOPIA_ACCESS_KEY: KNJOTGE7Q7BRRDHBCS4X
  KOPIA_SECRET_ACCESS_KEY: dG7hHBysokmVgkvIjCnl5L2pHwlc2cpoT4wen6Vb