# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
---
apiVersion: v1
kind: Secret
metadata:
  name: "${APP}-volsync-secret"
type: Opaque
stringData:
  KOPIA_FS_PATH: /repository
  KOPIA_PASSWORD: "vault:secret/data/volsync#RESTIC_PASSWORD"
  # RESTIC_REPOSITORY: filesystem:///repository
  # KOPIA_REPOSITORY: filesystem:///repository

  KOPIA_S3_BUCKET: test
  KOPIA_REPOSITORY: s3:http://rook-ceph-rgw-ceph-objectstore.rook-ceph.svc:80/test
  KOPIA_S3_ENDPOINT: rook-ceph-rgw-ceph-objectstore.rook-ceph.svc:80
  AWS_S3_ENDPOINT: rook-ceph-rgw-ceph-objectstore.rook-ceph.svc:80
  AWS_ACCESS_KEY_ID: KNJOTGE7Q7BRRDHBCS4X
  AWS_SECRET_ACCESS_KEY: dG7hHBysokmVgkvIjCnl5L2pHwlc2cpoT4wen6Vb
  KOPIA_S3_DISABLE_TLS: "true"
  AWS_S3_DISABLE_TLS: "true"
  # KOPIA_REPOSITORY: |
  #   {
  #     "storage": {
  #       "type": "s3",
  #       "config": {
  #         "bucket": "test",
  #         "endpoint": "rook-ceph-rgw-ceph-objectstore.rook-ceph.svc:80",
  #         "disableTLS": true
  #       }
  #     },
  #     "caching": {
  #       "cacheDirectory": "/tmp/kopia-cache",
  #       "maxCacheSize": 5242880000,
  #       "maxMetadataCacheSize": 5242880000
  #     },
  #     "hostname": "volsync",
  #     "username": "root"
  #   }