---
apiVersion: v1
kind: Secret
metadata:
  name: "${APP}-volsync-secret"
type: Opaque
stringData:
  RESTIC_REPOSITORY: "/repository/volsync69/${APP}"
  RESTIC_PASSWORD: "vault:secret/data/volsync#RESTIC_PASSWORD"