---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      mosquitto:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 16Mi
              limits:
                memory: 128Mi
    service:
      app:
        controller: mosquitto
        ports:
          mqtt:
            port: 1883
    persistence:
      config:
        type: configMap
        name: mosquitto
        globalMounts:
          - path: /mosquitto/config/mosquitto.conf
            subPath: mosquitto.conf
            readOnly: true
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /mosquitto/data
    configMaps:
      config:
        enabled: true
        data:
          mosquitto.conf: |
            per_listener_settings false
            listener 1883
            allow_anonymous true
            persistence true
            persistence_location /mosquitto/data
