---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zealot-uploads
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ceph-filesystem
  resources:
    requests:
      storage: 20Gi
