---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vyos-config
  namespace: network
data:
  config.boot: |
    set interfaces ethernet eth1 description 'WAN-MACVLAN'
    set interfaces ethernet eth2 description 'LAN-MACVLAN'

    set interfaces pppoe pppoe0 authentication password 'placeholder'
    set interfaces pppoe pppoe0 authentication user 'placeholder'
    set interfaces pppoe pppoe0 source-interface 'eth1'
    set interfaces pppoe pppoe0 description 'PPPoE-WAN'

    set interfaces ethernet eth2 address '192.168.1.1/24'

    set nat source rule 100 outbound-interface 'pppoe0'
    set nat source rule 100 translation address 'masquerade'

    set system name-server '1.1.1.1'
    set system name-server '1.0.0.1'

    set service dhcp-server shared-network-name LAN subnet 192.168.1.0/24 default-router '192.168.1.1'
    set service dhcp-server shared-network-name LAN subnet 192.168.1.0/24 name-server '1.1.1.1'
    set service dhcp-server shared-network-name LAN subnet 192.168.1.0/24 range 0 start '192.168.1.100'
    set service dhcp-server shared-network-name LAN subnet 192.168.1.0/24 range 0 stop '192.168.1.254'
