---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mirage
  namespace: ory
spec:
  chart:
    spec:
      chart: mirage
      version: 0.1.2
      sourceRef:
        kind: HelmRepository
        name: oecis
        namespace: ory
  values:
    hydra:
      internal: "http://hydra.ory"
    kratos:
      internal: "http://kratos.ory"
      external: "https://kratos.${DNS_MAIN}"
    ingress:
      enabled: true
      className: ${INGRESS1}
      hosts:
        - host: &host "mirage.${DNS_MAIN}"
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        hosts:
          - *host        