---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: volsync
spec:
  dependsOn:
    - name: snapshot-controller
      namespace: kube-system
  path: ./kubernetes/apps/volsync-system/volsync/app
  targetNamespace: volsync-system
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: volsync-maintenance
spec:
  dependsOn:
    - name: volsync
  path: ./kubernetes/apps/volsync-system/volsync/maintenance
  targetNamespace: volsync-system
