apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hydra
  namespace: ory
spec:
  chart:
    spec:
      chart: hydra
      version: 0.50.7
      sourceRef:
        kind: HelmRepository
        name: ory
        namespace: ory
  values:
    deployment:
      extraEnv:
        - name: SECRETS_SYSTEM
          value: "secret1secret1secret1, secret2secret2secret2"
    hydra:
      automigration:
        enabled: true
      # dev: true
      config:
        log:
          leak_sensitive_values: true
          level: trace
        dsn: vault:secret/data/ory#DB_URI_HYDRA
        urls:
          login: "https://uikratos.${DNS_MAIN}/login"
          consent: "https://uikratos.${DNS_MAIN}/consent"
          logout: "https://uikratos.${DNS_MAIN}/logout"
          error: "https://uikratos.${DNS_MAIN}/error"
          # identity_provider:
          #   publicUrl: "https://kratos.${DNS_MAIN}"
          #   url: "https://admin.kratos.${DNS_MAIN}"

          self:
            issuer: "https://hydra.${DNS_MAIN}"

        tracing:
          service_name: Ory Hydra
          provider: otel
          providers:
            otlp:
              insecure: true
              sampling:
                sampling_ratio: 0.5
              server_url: otel-collector-deployment-collector.observability.svc.cluster.local:4318
    ingress:
      public:
        enabled: true
        className: "internal"
        hosts:
          - host: &host "hydra.${DNS_MAIN}"
            paths:
              - path: /
                pathType: ImplementationSpecific
            tls:
              hosts:
                - *host
              # secretName: hydra-proxy-tls
      admin:
        enabled: true
        className: "internal"
        hosts:
          - host: &hostadmin "hydraadmin.${DNS_MAIN}"
            paths:
              - path: /
                pathType: ImplementationSpecific
            tls:
              hosts:
                - *hostadmin
              # secretName: hydra-admin-tls
