---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vpa
spec:
  interval: 1h
  chart:
    spec:
      chart: vpa
      version: '*'
      sourceRef:
        kind: HelmRepository
        name: fairwinds-stable
        namespace: observability
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    recommender:
      extraArgs:
        pod-recommendation-min-cpu-millicores: "15"
        pod-recommendation-min-memory-mb: "10"
        recommendation-margin-fraction: "0.15"
