---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: 1-core-db-pg-app
  namespace: flux-system
  labels:
    kustomization.flux.fast/default: "false"
spec:
  interval: 5m
  path: ./kubernetes/apps/db/pg/app
  dependsOn: []
  healthChecks:
    - name: cloudnative-pg
      namespace: cnpg
      kind: HelmRelease
      apiVersion: helm.toolkit.fluxcd.io/v2
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: 1-core-db-pg-clusters-default
  namespace: flux-system
  labels:
    kustomization.flux.fast/default: "false"
    wait.flux.home.arpa/disabled: "true"
spec:
  interval: 5m
  path: ./kubernetes/apps/db/pg/clusters/default
  dependsOn:
    - name: 1-core-db-pg-app
  postBuild:
    substituteFrom:
      - kind: Secret
        name: pg-vars
        optional: false
  healthChecks:
    - name: pg-default
      namespace: pg
      kind: Cluster
      apiVersion: postgresql.cnpg.io/v1
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: 1-core-db-pg-clusters-replica
  namespace: flux-system
spec:
  path: ./kubernetes/apps/db/pg/clusters/replica
  dependsOn:
    - name: 1-core-db-pg-app
    # - name: 1-core-storage-minio-app
  postBuild:
    substituteFrom:
      - kind: Secret
        name: pg-vars
        optional: false
  healthChecks:
    - name: pg-replica
      namespace: pg
      kind: Cluster
      apiVersion: postgresql.cnpg.io/v1

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: 1-core-db-pg-clusters-vector
  namespace: flux-system
  labels:
    wait.flux.home.arpa/disabled: "true"
spec:
  path: ./kubernetes/apps/db/pg/clusters/vector
  dependsOn:
    - name: 1-core-db-pg-app
    # - name: 1-core-storage-minio-app
  postBuild:
    substituteFrom:
      - kind: Secret
        name: pg-vars
        optional: false
  healthChecks:
    - name: pg-vector
      namespace: pg
      kind: Cluster
      apiVersion: postgresql.cnpg.io/v1
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: 1-core-db-pg-clusters-enc
#   namespace: flux-system
# spec:
#   path: ./kubernetes/apps/db/pg/clusters/enc
#   dependsOn:
#     - name: 1-core-db-pg-app
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: pgadmin-app
  namespace: flux-system
  labels:
    wait.flux.home.arpa/disabled: "true"
  postBuild:
    substituteFrom:
      - kind: Secret
        name: pg-vars
        optional: false
spec:
  targetNamespace: pg
  path: ./kubernetes/apps/db/pg/pgadmin
  dependsOn:
    - name: 1-core-db-pg-app
