apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zitadel
spec:
  chart:
    spec:
      chart: zitadel
      version: "8.13.1"
      sourceRef:
        kind: HelmRepository
        name: zitadel
        namespace: zitadel
  values:
    env:
      - name: ZITADEL_FIRSTINSTANCE_ORG_HUMAN_EMAIL_ADDRESS
        value: admin@admin.com
      - name: ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORD
        value: RootPassword1!
        #new RootPassword1!!
    replicaCount: 1
    zitadel:
      masterkey: vault:secret/data/zitadel#MASTERKEY
      configmapConfig:
        ExternalSecure: false
        TLS:
          Enabled: false
      secretConfig:
        ExternalDomain: &host "zitadel.x3y.space"
        ExternalSecure: true
        ExternalPort: 443
        Database:
          postgres:
            Host: vault:secret/data/pg_default#HOST
            Port: 5432
            Database: zitadel
            MaxOpenConns: 40
            MaxIdleConns: 20
            MaxConnLifetime: 30m
            MaxConnIdleTime: 5m
            User:
              Username: vault:secret/data/pg_default#USER
              Password: vault:secret/data/pg_default#PASSWORD
              SSL:
                Mode: disable
            Admin:
              Username: vault:secret/data/pg_default#USER
              Password: vault:secret/data/pg_default#PASSWORD
              SSL:
                Mode: disable
    ingress:
      enabled: false
      className: "internal"
      annotations: {}
      hosts:
        - host: *host
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host