---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/cert-manager.io/clusterissuer_v1.json
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prodxs
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: "vault:secret/data/cloudflare#EMAIL"
    privateKeySecretRef:
      name: letsencrypt-prodxs
    solvers:
      - dns01:
          cloudflare:
            email: "vault:secret/data/cloudflare#EMAIL"
            apiTokenSecretRef:
              name: dns01-api
              key: cloudflare
        selector:
          dnsZones:
           - ${DOMAIN1}

---
apiVersion: v1
kind: Secret
metadata:
    name: dns01-api
    namespace: cert-manager
stringData:
    cloudflare: "vault:secret/data/cloudflare#CERT_TOKEN"
