---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: stalwart
spec:
  targetNamespace: home-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: stalwart
  path: ./kubernetes/apps/home-system/stalwart/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  wait: false
  interval: 30m
