---
apiVersion: v1
kind: Secret
metadata:
  name: volsync-maintenance-secret
type: Opaque
stringData:
  KOPIA_FS_PATH: /repository
  KOPIA_PASSWORD: "vault:secret/data/volsync#RESTIC_PASSWORD"
  RESTIC_REPOSITORY: filesystem:///repository