# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps
  namespace: flux-system
spec:
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  interval: 1h
  path: ./kubernetes/apps
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  timeout: 5m
  wait: false
  # postBuild:
  #   substituteFrom:
  #     - kind: Secret
  #       name: flux-vars
  #       optional: false
  patches:
    # -------------------------------------------------------------
    # PATCH 1: Common defaults (Intervals, SOPS, HelmRelease defaults)
    # Applied to: ALL Kustomizations (Target selector has no labels)
    # -------------------------------------------------------------
    - patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: _
        spec:
          postBuild:
            substitute:
              STORE1: ceph-block
              DOMAIN1: x3y.space
          prune: true
          wait: true
          sourceRef:
            kind: GitRepository
            name: flux-system
            namespace: flux-system
          interval: 1h
          timeout: 2m
          retryInterval: 1m
          decryption:
            provider: sops
            secretRef:
              name: sops-age
          patches:
            - patch: |-
                apiVersion: helm.toolkit.fluxcd.io/v2
                kind: HelmRelease
                metadata:
                  name: _
                spec:
                  interval: 5m
                  timeout: 2m
                  maxHistory: 5
                  install:
                    createNamespace: true
                    remediation:
                      retries: 2
                  upgrade:
                    cleanupOnFail: true
                    remediation:
                      retries: 2
                  uninstall:
                    keepHistory: false
              target:
                group: helm.toolkit.fluxcd.io
                version: v2
                kind: HelmRelease
                labelSelector: helm.flux.home.arpa/default notin (false)
      target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization

    # -------------------------------------------------------------
    # PATCH 2: Variable Substitution (postBuild)
    # Applied to: ONLY Kustomizations with specific label
    # -------------------------------------------------------------
    - patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: _
        spec:
          postBuild:
            substituteFrom:
              - kind: Secret
                name: flux-vars
                optional: false
      target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization
        labelSelector: helm.flux.home.fluxvars in (true)