---
version: v1alpha1
machine:
  ca:
    crt: {{ ENV.MACHINE_CA_CRT }}
    {% if ENV.IS_CONTROLLER %}
    key: {{ ENV.MACHINE_CA_KEY }}
    {% endif %}
  certSANs:
    - 127.0.0.1
  features:
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: true # Requires Cilium socketLB features
    stableHostname: true
    kubePrism:
      enabled: true
      port: 7445
    rbac: true
  files:
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins]
          [plugins."io.containerd.grpc.v1.cri"]
            device_ownership_from_security_context = true
        [plugins."io.containerd.cri.v1.runtime"]
          device_ownership_from_security_context = true
    - op: overwrite
      path: /etc/lvm/lvm.conf
      permissions: 0o644
      content: |
        backup {
          backup = 0
          archive = 0
        }
        devices {
           global_filter = [ "r|^/dev/drbd.*|", "r|^/dev/dm-.*|", "r|^/dev/zd.*|" ]
        }
    - path: /usr/local/bin/lvs
      permissions: 0755
      op: create
      content: |
        #!/bin/sh
        exit 5
    - path: /usr/local/bin/vgs
      permissions: 0755
      op: create
      content: |
        #!/bin/sh
        exit 5
    - path: /usr/local/bin/pvs
      permissions: 0755
      op: create
      content: |
        #!/bin/sh
        exit 5
  install:
    disk: /dev/nvme0n1
    image: factory.talos.dev/installer/cbc20e313ea99869a01aba9ea3301f1cc29dc73e0a6987662b96a33538a25cc2:v1.12.1
    wipe: false
  kernel:
    modules:
      - name: openvswitch
      - name: drbd
        parameters:
          - usermode_helper=disabled
      - name: zfs
      - name: spl
      - name: vfio_pci
      - name: vfio_iommu_type1
  kubelet:
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    extraConfig:
      cpuManagerPolicy: static
      maxPods: 512
    image: ghcr.io/siderolabs/kubelet:v1.33.1
    nodeIP:
      validSubnets:
        - 10.0.0.99/24
  network:
    hostname: talos-0d4c1
    interfaces:
      - interface: enp5s0
        addresses:
          - 10.0.0.99/24
          - fe80::aaa1:59ff:fe53:1f41/64
        routes:
          - network: 0.0.0.0/0
            gateway: fe80::1
    nameservers:
      - 1.1.1.1
      - 1.0.0.4
  registries:
    mirrors:
      docker.io:
        endpoints:
          - https://mirror.gcr.io
  sysctls:
    net.ipv4.neigh.default.gc_thresh1: "4096"
    net.ipv4.neigh.default.gc_thresh2: "8192"
    net.ipv4.neigh.default.gc_thresh3: "16384"
  token: {{ ENV.MACHINE_TOKEN }}
cluster:
  ca:
    crt: {{ ENV.CLUSTER_CA_CRT }}
    {% if ENV.IS_CONTROLLER %}
    key: {{ ENV.CLUSTER_CA_KEY }}
    {% endif %}
  clusterName: newcluster
  controlPlane:
    endpoint: https://10.0.0.99:6443
  discovery:
    enabled: false
    registries:
      kubernetes:
        disabled: true
      service: {}
  id: {{ ENV.CLUSTER_ID }}
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 10.244.0.0/16
    serviceSubnets:
      - 10.96.0.0/16
  secret: {{ ENV.CLUSTER_SECRET }}
  token: {{ ENV.CLUSTER_TOKEN }}
  {% if ENV.IS_CONTROLLER %}
  aggregatorCA:
    crt: {{ ENV.CLUSTER_AGGREGATORCA_CRT }}
    key: {{ ENV.CLUSTER_AGGREGATORCA_KEY }}
  allowSchedulingOnControlPlanes: true
  apiServer:
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
    certSANs:
      - 10.0.0.99
      - 127.0.0.1
    disablePodSecurityPolicy: true
    admissionControl:
      - name: PodSecurity
        configuration:
          apiVersion: pod-security.admission.config.k8s.io/v1alpha1
          defaults:
            audit: restricted
            audit-version: latest
            enforce: baseline
            enforce-version: latest
            warn: restricted
            warn-version: latest
          exemptions:
            namespaces:
              - kube-system
            runtimeClasses: []
            usernames: []
          kind: PodSecurityConfiguration
    extraArgs:
      enable-aggregator-routing: "true"
      feature-gates: MutatingAdmissionPolicy=true
      runtime-config: admissionregistration.k8s.io/v1alpha1=true
    image: registry.k8s.io/kube-apiserver:v1.33.1
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
    image: registry.k8s.io/kube-controller-manager:v1.33.1
  coreDNS:
    disabled: true
  etcd:
    advertisedSubnets:
      - 10.0.0.99/24
    ca:
      crt: {{ ENV.CLUSTER_ETCD_CA_CRT }}
      key: {{ ENV.CLUSTER_ETCD_CA_KEY }}
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  proxy:
    disabled: true
    image: registry.k8s.io/kube-proxy:v1.33.1
  scheduler:
    config:
      apiVersion: kubescheduler.config.k8s.io/v1
      kind: KubeSchedulerConfiguration
      profiles:
        - schedulerName: default-scheduler
          plugins:
            score:
              disabled:
                - name: ImageLocality
          pluginConfig:
            - name: PodTopologySpread
              args:
                defaultingType: List
                defaultConstraints:
                  - maxSkew: 1
                    topologyKey: kubernetes.io/hostname
                    whenUnsatisfiable: ScheduleAnyway
    extraArgs:
      bind-address: 0.0.0.0
    image: registry.k8s.io/kube-scheduler:v1.33.1
  secretboxEncryptionSecret: {{ ENV.CLUSTER_SECRETBOXENCRYPTIONSECRET }}
  serviceAccount:
    key: {{ ENV.CLUSTER_SERVICEACCOUNT_KEY }}
  {% endif %}
# ---
# apiVersion: v1alpha1
# kind: LinkAliasConfig
# name: net0
# selector:
#   match: link.driver == "igc" && mac(link.permanent_addr).startsWith("88:ae:dd:72:")
# ---
# apiVersion: v1alpha1
# kind: BondConfig
# name: bond0
# links:
#   - net0
# bondMode: active-backup
# mtu: 9000
# ---
# apiVersion: v1alpha1
# kind: DHCPv4Config
# name: bond0
# clientIdentifier: mac
# ---
# apiVersion: v1alpha1
# kind: VLANConfig
# name: bond0.70
# vlanID: 70
# parent: bond0
# mtu: 9000
# ---
# apiVersion: v1alpha1
# kind: VLANConfig
# name: bond0.90
# vlanID: 90
# parent: bond0
# mtu: 9000
# ---
# apiVersion: v1alpha1
# kind: UserVolumeConfig
# name: local-hostpath
# provisioning:
#   diskSelector:
#     match: disk.model == "Corsair MP600 MICRO" && !system_disk
#   minSize: 1TB
# ---
# apiVersion: v1alpha1
# kind: WatchdogTimerConfig
# device: /dev/watchdog0
# timeout: 5m
---
apiVersion: v1alpha1
kind: VLANConfig
name: enp5s0.100
vlanID: 100
parent: enp5s0
---
apiVersion: v1alpha1
kind: VLANConfig
name: enp5s0.200
vlanID: 200
parent: enp5s0
---
apiVersion: v1alpha1
kind: BridgeConfig
name: br-openwrt-wan
links:
  - enp5s0.100
stp:
  enabled: false
vlan:
  filtering: false
up: true
---
apiVersion: v1alpha1
kind: BridgeConfig
name: br-openwrt-lan
links:
  - enp5s0.200
stp:
  enabled: false
vlan:
  filtering: false
up: true
