---
# # yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: atuin
spec:
  components:
    - ../../../../components/volsync
  postBuild:
    substitute:
      APP: atuin
      VOLSYNC_CAPACITY: 5Gi
  targetNamespace: home-system
  dependsOn:
    - name: vault
      namespace: vault
  path: ./kubernetes/apps/home-system/atuin/app