---
apiVersion: v1
kind: ConfigMap
metadata:
  name: litellm-config
  namespace: dev-system
data:
  config.yaml: |
    model_list:
      - model_name: gpt-4o
        litellm_params:
          model: openai/gpt-4o
          api_key: "os.environ/OPENAI_API_KEY"
      - model_name: claude-3-5-sonnet-20240620
        litellm_params:
          model: anthropic/claude-3-5-sonnet-20240620
          api_key: "os.environ/ANTHROPIC_API_KEY"
      - model_name: gemini-1.5-pro
        litellm_params:
          model: vertex_ai/gemini-1.5-pro
          vertex_project: "os.environ/VERTEX_PROJECT"
          vertex_location: "os.environ/VERTEX_LOCATION"
    general_settings:
      master_key: "os.environ/LITELLM_MASTER_KEY"
