---
apiVersion: v1
kind: ConfigMap
metadata:
  name: litellm-config
data:
  config.yaml: |
    model_list:
      - model_name: gemini-1.5-pro
        litellm_params:
          model: vertex_ai/gemini-1.5-pro
          api_key: "os.environ/GOOGLE_API_KEY"