---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: litellm
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      litellm:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: "16.4"
            env:
              INIT_POSTGRES_DBNAME: "litellm"
              INIT_POSTGRES_HOST: "vault:secret/data/pg_default#HOST"
              INIT_POSTGRES_USER: "vault:secret/data/pg_default#USER"
              INIT_POSTGRES_PASS: "vault:secret/data/pg_default#PASSWORD"
              INIT_POSTGRES_SUPER_PASS: "vault:secret/data/pg_default#PASSWORD"
        containers:
          app:
            image:
              repository: ghcr.io/berriai/litellm
              tag: v1.81.3-stable
            args:
              - --port
              - &port "4000"
              - --config
              - /app/config.yaml
            env:
              LITELLM_MASTER_KEY: "vault:secret/data/ai#LITELLM_MASTER_KEY"
              LITELLM_SALT_KEY: "vault:secret/data/ai#LITELLM_SALT_KEY"
              GOOGLE_API_KEY: "vault:secret/data/ai#google"
              DATABASE_URL: "postgresql://$${vault:secret/data/pg_default#USER}:$${vault:secret/data/pg_default#PASSWORD}@$${vault:secret/data/pg_default#HOST}:5432/litellm"
            # probes:
            #   liveness:
            #     enabled: true
            #     custom: true
            #     spec:
            #       httpGet:
            #         path: /health/liveliness
            #         port: &port 4000
            #       initialDelaySeconds: 30
            #       periodSeconds: 60
            #       timeoutSeconds: 10
            #       failureThreshold: 3
            #   readiness:
            #     enabled: true
            #     custom: true
            #     spec:
            #       httpGet:
            #         path: /health/readiness
            #         port: *port
            #       initialDelaySeconds: 5
            #       periodSeconds: 5
            #       timeoutSeconds: 5
            #       failureThreshold: 3
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    service:
      app:
        controller: litellm
        ports:
          http:
            port: *port
    route:
      app:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: network
        hostnames:
          - "{{ .Release.Name }}.${DOMAIN1}"

        rules:
          - backendRefs:
              - port: *port
                name: litellm
    persistence:
      config:
        type: configMap
        name: litellm-configmap
        globalMounts:
          - path: /app/config.yaml
            subPath: config.yaml
      cache:
        type: emptyDir
        globalMounts:
          - path: /.cache
            subPath: cache
          - path: /.npm
            subPath: npm
          - path: /tmp
            subPath: tmp