---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./netpol.yaml
configMapGenerator:
  - name: litellm-configmap
    files:
      - config.yaml=./config.yaml
generatorOptions:
  disableNameSuffixHash: true