# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: &app code-server
#   namespace: &namespace dev-system
# spec:
#   components:
#     - ../../../../components/volsync
#   targetNamespace: *namespace
#   path: ./kubernetes/apps/dev-system/code-server/app
#   dependsOn: []
#   postBuild:
#     substitute:
#       APP: *app
#       # GATUS_PATH: /web/index.html
#       VOLSYNC_CAPACITY: 1Gi
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app coder
  namespace: &namespace dev-system
spec:
  components:
    - ../../../../components/volsync
  targetNamespace: *namespace
  path: ./kubernetes/apps/dev-system/code-server/coder
  dependsOn:
    - name: vault
      namespace: vault
    - name: pg-clusters-default
      namespace: pg
  postBuild:
    substitute:
      APP: *app
      # GATUS_PATH: /web/index.html
      VOLSYNC_CAPACITY: 5Gi
      # REDIRECT_URI: https://coder.${DNS_MAIN}/api/v2/users/oidc/callback
      # LOGOUT_URI: https://coder.${DNS_MAIN}/api/v2/users/logout