---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: oathkeeper-maester
  namespace: ory
spec:
  chart:
    spec:
      chart: oathkeeper-maester
      version: 0.52.0
      sourceRef:
        kind: HelmRepository
        name: ory
        namespace: ory
