---
# 3. The Terraform Controller CRD
apiVersion: infra.contrib.fluxcd.io/v1alpha2
kind: Terraform
metadata:
  name: vault-zitadel-oidc
spec:
  interval: 1h
  approvePlan: auto  # Automatically apply changes (GitOps mode)
  path: ./terraform/zitadel-oidc

  # # Reference the GitRepository created above
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system

# 1. Pass specific Variables for Vault
  vars:
    - name: app_name
      value: "vault-oidc"
    - name: redirect_uris
      value:
        - "https://vault.${DOMAIN1}/ui/vault/auth/oidc/oidc/callback"
        - "https://vault.${DOMAIN1}/v1/auth/oidc/oidc/callback"

  # 2. Write output to a specific Vault Secret
  writeOutputsToSecret:
    name: vault-oidc-creds
    outputs:
      - client_id
      - client_secret