---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: rustdesk
spec:
  components:
    - ../../../../components/volsync
  postBuild:
    substitute:
      APP: rustdesk
      VOLSYNC_CAPACITY: 5Gi
  targetNamespace: home-system
  path: ./kubernetes/apps/home-system/rustdesk/app