
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: democratic-csi
spec:
  interval: 1h
  timeout: 3m0s
  url: https://democratic-csi.github.io/charts/
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: local-hostpath
spec:
  interval: 1h
  chart:
    spec:
      chart: democratic-csi
      version: 0.15.0
      sourceRef:
        name: democratic-csi
        kind: HelmRepository
        # namespace: flux-system
  values:
    csiDriver:
      name: "local-hostpath.democratic-csi.biohazard.home.arpa"
      storageCapacity: true # With storage capacity tracking, the scheduler filters out nodes which do not have enough capacity.
      fsGroupPolicy: File # fsGroupChangePolicy

    storageClasses:
      - name: ${STORE1}
        defaultClass: true
        reclaimPolicy: Delete
        volumeBindingMode: WaitForFirstConsumer
        # distributed support is not yet ready for expansion
        allowVolumeExpansion: false

    volumeSnapshotClasses:
      - name: democratic-csi-local-hostpath
        deletionPolicy: Delete

    controller:
      enabled: true
      strategy: node
      externalProvisioner:
        extraArgs:
          - --leader-election=false
          - --node-deployment=true
          - --node-deployment-immediate-binding=false
          - --feature-gates=Topology=true
          - --strict-topology=true
          - --enable-capacity=true
          - --capacity-ownerref-level=1

      # distributed support is not yet ready
      externalResizer:
        enabled: false

      externalSnapshotter:
        enabled: true
        extraArgs:
          - --leader-election=false
          - --node-deployment=true

    node:
      driver:
        extraVolumeMounts:
          - name: local-hostpath
            mountPath: /var/lib/democratic-csi-local-hostpath
            mountPropagation: Bidirectional

      extraVolumes:
        - name: local-hostpath
          hostPath:
            path: /var/lib/democratic-csi-local-hostpath
            type: DirectoryOrCreate

    driver:
      config:
        driver: local-hostpath
        instance_id: biohazard-local-hostpath
        local-hostpath:
          shareBasePath: "/var/lib/democratic-csi-local-hostpath"
          controllerBasePath: "/var/lib/democratic-csi-local-hostpath"
          dirPermissionsMode: "0770"
          dirPermissionsUser: 0
          dirPermissionsGroup: 0
