---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: element
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      element:
        containers:
          app:
            image:
              repository: vectorim/element-web
              tag: v1.11.50
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 256Mi
    service:
      app:
        controller: element
        ports:
          http:
            port: 80
    persistence:
      config:
        type: configMap
        name: element-config
        globalMounts:
          - path: /app/config.json
            subPath: config.json
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Element
          gethomepage.dev/description: Matrix Client
          gethomepage.dev/group: Social
          gethomepage.dev/icon: element.png
        hostnames:
          - "element.${DOMAIN1}"
        parentRefs:
          - name: envoy-internal
            namespace: network
