---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mautrix-telegram
spec:
  chart:
    spec:
      chart: mautrix-telegram
      version: 4.1.2
      sourceRef:
        kind: HelmRepository
        name: ananace-charts
        namespace: home-system
  interval: 1h
  values:
    config:
      homeserver:
        address: http://matrix-synapse:8008
        domain: "matrix.${DOMAIN1}"
      appservice:
        address: http://mautrix-telegram:29317
        database: postgres://"${PG_USER}":"${PG_PASSWORD}"@pg-default-rw.db.svc.cluster.local:5432/mautrix-telegram

    persistence:
      enabled: true
      existingClaim: mautrix-telegram
