---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pdf-tool
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/stirling-tools/s-pdf
              tag: 2.3.0@sha256:517101ebe52c7e7898e5c9b8bd1c81b5265d26a8f5787cc6d551a95316638339
              pullPolicy: IfNotPresent
            resources:
              requests:
                cpu: 10m
                memory: 200m
              limits:
                memory: 2Gi
    service:
      main:
        ports:
          http:
            port: 8080
    route:
      main:
        labels:
          enabled-oidc: "true"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Utility Service
          gethomepage.dev/name: PDF Tool
          gethomepage.dev/description: PDF tools
          gethomepage.dev/icon: https://raw.githubusercontent.com/chaijunkin/dashboard-icons/main/png/pdf-tool.png
        hostnames:
          - "{{ .Release.Name }}.${DOMAIN1}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /configs
      tessdata:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /usr/share/tessdata