---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      vaultwarden:
        annotations:
          reloader.stakater.com/auto: "true"
          vault.security.banzaicloud.io/vault-role: "default"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.4
            env:
              INIT_POSTGRES_DBNAME: vaultwarden
              INIT_POSTGRES_HOST: "vault:secret/data/pg_default#HOST"
              INIT_POSTGRES_USER: "vault:secret/data/pg_default#USER"
              INIT_POSTGRES_PASS: "vault:secret/data/pg_default#PASSWORD"
              INIT_POSTGRES_SUPER_PASS: "vault:secret/data/pg_default#PASSWORD"
        containers:
          app:
            image:
              repository: vaultwarden/server
              tag: latest
            env:
              TZ: America/New_York
              ADMIN_TOKEN: "$${vault:secret/data/vaultwarden#ADMIN_TOKEN}"
              DATABASE_URL: "postgresql://$${vault:secret/data/pg_default#USER}:$${vault:secret/data/pg_default#PASSWORD}@$${vault:secret/data/pg_default#HOST}:5432/vaultwarden?sslmode=disable"
              SSO_ENABLED: "true"
              SSO_AUTHORITY: "https://zitadel.${DOMAIN1}"
              SSO_CLIENT_ID: "$${client_id}"
              SSO_CLIENT_SECRET: "${client_secret}"
              RELOAD_TEMPLATES: "true"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /alive
                    port: 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi

    service:
      app:
        ports:
          http:
            port: 80

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Vaultwarden
          gethomepage.dev/description: Password Manager
          gethomepage.dev/group: Utility
          gethomepage.dev/icon: vaultwarden.png
        hostnames:
          - "{{ .Release.Name }}.${DOMAIN1}"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      data:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /data
