---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: chatmock
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      chatmock:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/raybytes/chatmock
              tag: latest
            env:
              CHATGPT_ACCESS_TOKEN: "vault:secret/data/ai#CHATGPT_ACCESS_TOKEN"
              CHATGPT_DEBUG: "True"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    service:
      app:
        controller: chatmock
        ports:
          http:
            port: 8000
    route:
      app:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: network
        hostnames:
          - "chatmock.${DOMAIN1}"
        rules:
          - backendRefs:
              - port: 8000
                name: chatmock
