---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: hydra-app
  namespace: flux-system
spec:
  path: ./kubernetes/apps/ory/hydra
  dependsOn:
    - name: 1-core-db-pg-clusters-default
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kratos-app
  namespace: flux-system
spec:
  path: ./kubernetes/apps/ory/kratos
  dependsOn:
    - name: 1-core-db-pg-clusters-default
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: oathkeeper-app
  namespace: flux-system
spec:
  path: ./kubernetes/apps/ory/oathkeeper
  dependsOn:
    # - name: oathkeeper-maester
    - name: 1-core-db-pg-clusters-default
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: mirage-appf
#   namespace: flux-system
# spec:
#   path: ./kubernetes/apps/ory/mirage
#   dependsOn:
#     - name: hydra-app
#     - name: kratos-app
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: oathkeeper-maester
  namespace: flux-system
spec:
  path: ./kubernetes/apps/ory/oathkeeper-maester
  dependsOn: []
