apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
components:
  - ../../components/alerts
resources:
  - ./namespace.yaml
  - ks.yaml
  # - ns.yaml
  - repo.yaml